openapi: 3.0.2
info:
  title: Bronto API
  license:
    name: Commercial
  version: 1.0.0
servers:
  - url: https://api.eu.bronto.io
  - url: https://api.us.bronto.io
security:
  - ApiKeyAuth: []
  - BearerAuth: []
tags:
  - name: api-keys
    description: >
      An Application Programming Interface (API) key is a unique identifier. 

      The API Key must be provided as X-BRONTO-API-KEY in headers for the
      request to be authenticated 

      and authorized by the API server according to the API Key's role. For
      further information about 

      roles visit [our API Key docs] 
      https://docs.bronto.io/manage/manage-api-keys
  - name: context
    description: >
      Context is a REST API resource that allows the retrieval of a specified
      number of log events (default of 100) around 

      a log event of interest, e.g. when a number of log events were returned by
      a previous query and you then decide you 

      want to see the 50 log events before one of those returned log events. Log
      events can be retrieved either before, 

      after, or both before and after the specified log event.
  - name: exports
    description: >
      The Bronto Export API allows you to efficiently download large volumes of
      log data for further analysis.

      The data to be exported can be filtered by entering the search parameters
      \"from\", \"where\" and \"time_range\" as

      per a normal query in the \"search_details\" object.


      To export data the following steps are required:

      1. Create an export using a POST request, which will return an
      \"export_id\", \"status\" and \"progress\".

      2. Use the export id to get the status of the export task by sending a GET
      request,

      which will return \"status\" and \"progress\" with a value of percentage
      completed. When the export is

      completed, the \"status\" will be \"COMPLETE\"

      3. Once the export task has completed you can download your data using
      curl (or similar)

      from the \"location\" URL returned in the GET response.
  - name: logs
    description: >
      Logs are a sequence of timestamped log events. Logs can be searched to
      view events matching a filter 

      or to perform statistical functions on matching events.
  - name: search
    description: >
      The REST API for searching data uses queries based on a subset of SQL,
      with

      the syntax as per
      https://docs.brontobytes.io/core-features/log-search/query-syntax/.
  - name: top-keys
    description: >
      Top-Keys is a REST API resource that allows you to easily retrieve the top
      keys for a specific log.
  - name: usage
    description: >
      Usage is a REST API resource that allows you to easily track your Bronto
      usage by retrieving usage data relating 

      to data ingestion and amount of data searched, and allowing you to drill
      down for a specific dataset over a defined timeframe.
  - name: users
    description: >
      Users are given specific roles, where each role determines the user's
      permissions within the application. Those roles are as follows:

      - "Admin" role has permission for all actions on all entities in the
      application.

      - "Standard" role allows Read/Write and Delete actions on entities in
      non-sensitive areas of the application.

      - "ReadOnly" role allows only read actions and only on entities in
      non-sensitive areas of the application.
paths:
  /api-keys:
    get:
      tags:
        - api-keys
      summary: Retrieve a list of API keys
      operationId: listApiKeys
      responses:
        '200':
          description: A list of API keys
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
        '403':
          description: Forbidden - The user does not have the privileges to view API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - api-keys
      summary: Create a new API key
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
        required: true
      responses:
        '201':
          description: API keys is created successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to create new api
            keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api-keys/{apiKeyId}:
    delete:
      tags:
        - api-keys
      summary: Delete an API key
      operationId: deleteApiKey
      parameters:
        - name: apiKeyId
          in: path
          description: The ID of the API key to delete
          required: true
          schema:
            type: string
            format: uuid
          example: 41521f35-1b06-41f0-9cdc-9a938b5739d1
      responses:
        '204':
          description: API key deleted successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '403':
          description: Forbidden - The user does not have the privileges to delete API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The API key is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - api-keys
      summary: Update an API key
      operationId: updateApiKey
      parameters:
        - name: apiKeyId
          in: path
          description: The ID of the API key to update
          required: true
          schema:
            type: string
            format: uuid
          example: 41521f35-1b06-41f0-9cdc-9a938b5739d1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiKeyRequest'
        required: true
      responses:
        '200':
          description: API key updated successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to update the API
            key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The API key is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users:
    get:
      tags:
        - users
      summary: Retrieve a list of users
      operationId: listUsers
      responses:
        '200':
          description: A list of users
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '403':
          description: Forbidden - The user does not have the privileges to list users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - users
      summary: Create a new user
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        required: true
      responses:
        '201':
          description: User created successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to create new
            users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}:
    get:
      tags:
        - users
      summary: Get a single user by ID
      operationId: getUserById
      parameters:
        - name: userId
          in: path
          description: The unique identifier of the user to retrieve
          required: true
          schema:
            type: string
            format: uuid
          example: 41521f35-1b06-41f0-9cdc-9a938b5739d1
      responses:
        '200':
          description: User details retrieved successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to retrieve user
            details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The User is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - users
      summary: Delete a user by ID
      operationId: deleteUserById
      parameters:
        - name: userId
          in: path
          description: Unique identifier of the user to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: User deleted successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '403':
          description: Forbidden - The user does not have the privileges to delete users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The User is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - users
      summary: Updates a user
      operationId: updateUser
      parameters:
        - name: userId
          in: path
          description: Unique identifier of the user to update
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        required: true
      responses:
        '200':
          description: User updated successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - The user does not have the privileges to new users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}/preferences:
    get:
      tags:
        - users
      summary: Get user preferences
      description: >
        Returns the stored user preferences for the specified organization and
        user.
      operationId: getUserPreferences
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User details retrieved successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreference'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to retrieve user
            details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The User is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - users
      summary: Patch user preferences
      description: |
        Sets or updates specific user preferences without overwriting others.
      operationId: patchUserPreferences
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              maxProperties: 1
              type: object
              properties:
                preferred_org:
                  type: string
                  format: uuid
              additionalProperties: false
        required: true
      responses:
        '200':
          description: Updated preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreference'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: User preferences not found
  /users/{userId}/access:
    get:
      tags:
        - users
      summary: List all organizations this user has access to
      operationId: listMemberships
      parameters:
        - name: userId
          in: path
          description: >-
            The unique identifier of the user to retrieve organization access
            for
          required: true
          schema:
            type: string
            format: uuid
          example: 41521f35-1b06-41f0-9cdc-9a938b5739d1
      responses:
        '200':
          description: List of organizations this user has access to
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgAccessList'
        '403':
          description: Forbidden - The user does not have the privileges to view access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The User is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /groups:
    get:
      tags:
        - users
      summary: List all groups in the organization
      operationId: listGroups
      responses:
        '200':
          description: List of groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupList'
        '403':
          description: Forbidden - The user does not have permission to list groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - groups
      summary: Create a new group
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroup'
        required: true
      responses:
        '201':
          description: Group created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDefn'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - The user does not have permission to create groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /groups/{groupId}:
    get:
      tags:
        - groups
      summary: Get a specific group
      operationId: getGroup
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group to retrieve
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      responses:
        '200':
          description: Group object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDefn'
        '403':
          description: Forbidden - The user does not have permission to retrieve this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - Group does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - groups
      summary: Delete a group
      operationId: deleteGroup
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group to delete
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      responses:
        '204':
          description: Group deleted successfully
        '403':
          description: Forbidden - The user does not have permission to delete this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - Group does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - users
      summary: Update a group
      operationId: updateGroup
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group to update
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupDefn'
        required: true
      responses:
        '200':
          description: Updated group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - The user does not have permission to update this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - Group does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /groups/{groupId}/members:
    get:
      tags:
        - groups
      summary: List members of a group
      operationId: listGroupMembers
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      responses:
        '200':
          description: List of group members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      required:
                        - group_id
                        - member_id
                        - member_type
                        - modified_at
                      type: object
                      properties:
                        group_id:
                          type: string
                          format: uuid
                        member_id:
                          type: string
                          format: uuid
                        member_type:
                          type: string
                          enum:
                            - USER
                            - GROUP
                        modified_at:
                          type: integer
                          format: int64
        '403':
          description: Forbidden - User lacks permission to view group members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - groups
      summary: Add members to a group
      operationId: addGroupMembers
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      requestBody:
        content:
          application/json:
            schema:
              required:
                - members
              type: object
              properties:
                members:
                  maxItems: 100
                  type: array
                  items:
                    required:
                      - member_id
                      - member_type
                    type: object
                    properties:
                      member_type:
                        type: string
                        enum:
                          - USER
                          - GROUP
                      member_id:
                        type: string
                        format: uuid
        required: true
      responses:
        '204':
          description: Members added to group
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - User lacks permission to modify group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - groups
      summary: Remove members from a group
      operationId: removeGroupMembers
      parameters:
        - name: groupId
          in: path
          description: Unique identifier of the group
          required: true
          schema:
            type: string
            format: uuid
          example: 02bd4c9a-e839-4fc1-b1b4-7490a1f354e7
      requestBody:
        content:
          application/json:
            schema:
              required:
                - members
              type: object
              properties:
                members:
                  type: array
                  items:
                    required:
                      - member_id
                      - member_type
                    type: object
                    properties:
                      member_type:
                        type: string
                        enum:
                          - USER
                          - GROUP
                      member_id:
                        type: string
                        format: uuid
        required: true
      responses:
        '204':
          description: Members removed from group
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - User lacks permission to modify group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}/groups:
    get:
      tags:
        - groups
      summary: List groups a member belongs to
      operationId: listGroupsForMember
      parameters:
        - name: userId
          in: path
          description: Unique identifier of the member
          required: true
          schema:
            type: string
            format: uuid
          example: 5f7a5c9c-9a2f-42a5-84f3-e445e14b13df
      responses:
        '200':
          description: List of groups the user is a member of
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupDefn'
        '403':
          description: Forbidden - User lacks permission to view group memberships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /search:
    get:
      tags:
        - search
      summary: Execute a query
      description: >
        You can execute queries on your log data by using Bronto's syntax based
        on a subset of SQL as

        described in the documentation
        https://docs.brontobytes.io/core-features/log-search/query-syntax/. 


        Bronto supports both the GET and POST methods for executing a query,
        however the POST method is

        preferred as it avoids problems related to maximum URL length when the
        query parameters are very long.


        In the context of the REST API, there are three distinct types queries
        which determine which parts of the 

        response object are populated:

        + Event search queries return a list of events matching the specified
        filter.

        The response will be paginated if more than `limit` (default 50)
        matching events are returned.

        + Aggregate queries apply aggregate functions such as count(), sum(),
        max(), avg()

        to your log data, and return a number or a timeseries of numbers.

        + Group by aggregate queries return numerical results grouped according
        to the values for the

        attributes specified in the group by clause.


        The query type is determined by the combination of the `select` and
        `groups` parameters.
      operationId: search
      parameters:
        - name: from
          in: query
          description: >
            The ids of the logs to search.

            One of either the `from` or the `from_tags` parameters _must_ be
            specified.
          schema:
            minItems: 1
            uniqueItems: true
            type: string
          example:
            - 550e8400-e29b-41d4-a716-446655440000
            - 297bb888-83b1-44e0-8ab6-47879f1275a2
        - name: from_tags
          in: query
          description: >
            The tags to search. Each tag should be in the form `<key>:<value>`,
            e.g., `environment:production`.

            One of either the `from` or the `from_tags` parameters _must_ be
            specified. 

            If _both_ are specified then `from_tags` takes precedence, and the
            `from` value is ignored.

            If the key or the value contain a `:` or `=` character, then these
            can be escaped by wrapping the entire key or value in double-quotes
            `"`.
          schema:
            minItems: 1
            uniqueItems: true
            type: string
          example: environment:production
        - name: time_range
          in: query
          description: >
            The relative time range for which to query data. Time range
            supported is from milliseconds to years. For an exact range, use
            `from_ts` and `to_ts` instead.
          schema:
            type: string
          examples:
            ms:
              value: Last 800 milliseconds
            sec:
              value: Last 10 seconds
            day:
              value: Last 2 days
            week:
              value: Last 3 weeks
        - name: from_ts
          in: query
          description: >-
            The starting time (unix time in milliseconds) for which to query
            data. Must be used together with `to_ts`. This parameter is
            incompatible with `time_range`.
          schema:
            type: integer
          example: 1709251200000
        - name: to_ts
          in: query
          description: >-
            The ending time (unix time in milliseconds) for which to query data.
            Must be used together with `from_ts`. This parameter is incompatible
            with `time_range`.
          schema:
            type: integer
          example: 1711390455601
        - name: where
          in: query
          description: >-
            The where parameter is used to filter the results of your query. 
            See https://docs.bronto.io/core-features/log-search/query-syntax for
            more details The filter can combine multiple terms using AND, OR,
            NOT.
          schema:
            type: string
          examples:
            kv:
              value: ip=10.0.0.1
            count:
              value: count(*)
            sum:
              value: sum(payload_size)
            multiple_stat:
              value: count(*), sum(payload_size)
            internal:
              value: '@raw'
            multiple:
              value: payload_size, status, client_ip
        - name: select
          in: query
          description: >-
            The select parameter selects values of one or more specified keys
            and can be  considered to be equivalent to returning columns from a
            table.  It can select keys either by name, e.g. query params with
            select=ip_address or with  an aggregate function (count, max, min,
            avg, sum) on the values of the specified key,  e.g. query params
            with select=count(ip_address). Multiple selects can be used and they
            would separated by & in the query param,  e.g.
            &select=count(ip_address)&select=count(hostname).  The following
            internal columns are always available\: @time, @origin & @raw
          schema:
            type: string
          example: message
        - name: groups
          in: query
          description: >-
            The groups parameter specifies a key to use to arrange the results
            returned by an aggregate function,  (such as count, max, min, avg,
            sum) into groups of values. The aggregate function returns a single
            value  for each group. Multiple groups can be specified in the
            request if separated by &, e.g. query params with
            &groups=customer_id or &groups=customer_id&groups=hostname.
          schema:
            type: string
          example:
            - user
            - ip
        - name: limit
          in: query
          description: >-
            The maximum number of events that an event search should return. In
            a query with a group by, it limits the number of groups returned. It
            does not affect a query using aggregate functions.
          schema:
            maximum: 6666
            minimum: 1
            type: integer
            default: 100
          example: 50
        - name: num_of_slices
          in: query
          description: The number of buckets to break the time series results into.
          schema:
            type: integer
            default: 10
          example: 50
        - name: from_sequence
          in: query
          description: >
            Specifies the starting sequence number for the time range when used
            together with the `from_ts` parameter.

            Each log event has a sequence number which is unique within a
            millisecond,

            and can be used to query data with sub-millisecond time range
            precision.

            The sequence numbers are ordered such that earlier log events have
            lower sequence numbers.
          schema:
            type: integer
          example: 111721913
        - name: most_recent_first
          in: query
          description: Flag to indicate the order in which results should be returned.
          schema:
            type: boolean
          example: true
        - name: explain_only
          in: query
          description: >-
            If set to `true` then only the `explain` element of the response
            will be populated. The `explain` element will contain the
            `Approximate bytes in time range` attribute which provides an
            estimate for the amount of data present in the time range for the
            selected datasets. This parameter is set to `false` by default.
          required: false
          schema:
            type: boolean
          example: true
        - name: async_enabled
          in: query
          description: >-
            If set to `true` the server will respond in an asynchronous way: it
            will return immediately with a polling link (in the `links` element
            of the response body), which the client should check periodically 
            to monitor the progress of the query and to receive partial
            results.  This is useful for long running queries, and allows an API
            client to handle multiple requests concurrently without blocking. 
            The behaviour of the async API is described
            [here](#tag/search/operation/getSearchStatus).

            If set to `false` the server will wait until the query has completed
            before returning a single `200` response with the completed results
            in the response body.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Search results
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  explain:
                    $ref: '#/components/schemas/QueryExplain'
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/QueryResult'
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
                  groups_series:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupSeriesItem'
                  metadata:
                    $ref: '#/components/schemas/QueryMetadata'
                  totals:
                    type: object
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  links:
                    $ref: '#/components/schemas/SearchCompletedLinksAsyncEnabled'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - search
      summary: Execute a query
      description: >
        You can execute queries on your log data by using Bronto's syntax based
        on a subset of SQL as

        described in the documentation
        https://docs.brontobytes.io/core-features/log-search/query-syntax/. 


        Bronto supports both the GET and POST methods for executing a query,
        however the POST method is

        preferred as it avoids problems related to maximum URL length when the
        query parameters are very long.


        In the context of the REST API, there are three distinct types queries
        which determine which parts of the 

        response object are populated:

        + Event search queries return a list of events matching the specified
        filter.

        The response will be paginated if more than `limit` (default 50)
        matching events are returned.

        + Aggregate queries apply aggregate functions such as count(), sum(),
        max(), avg()

        to your log data, and return a number or a timeseries of numbers.

        + Group by aggregate queries return numerical results grouped according
        to the values for the

        attributes specified in the group by clause.


        The query type is determined by the combination of the `select` and
        `groups` parameters.
      operationId: postSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSearchRequest'
        required: true
      responses:
        '200':
          description: Search results
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  explain:
                    $ref: '#/components/schemas/QueryExplain'
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/QueryResult'
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
                  groups_series:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupSeriesItem'
                  metadata:
                    $ref: '#/components/schemas/QueryMetadata'
                  totals:
                    type: object
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  links:
                    $ref: '#/components/schemas/SearchCompletedLinksAsyncEnabled'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /search/status/{statusId}:
    get:
      tags:
        - search
      summary: Poll a Query In Progress
      description: >
        Bronto provides an async API for long-running queries, which allows
        users to poll an in-progress query to monitor

        its progress and to receive partial results. It also allows an API
        client to handle multiple requests concurrently

        without blocking, and is more tolerant of network failures since a query
        will continue to execute if a connection

        is broken. Additionally it allows clients to cancel requests they are no
        longer interested in. For extremely long 

        running queries it helps avoid issues due to timeouts.


        When the client makes an async query request, the server will initially
        respond with either a `201` or a `202` response code.

        The `201` response code is returned if the query was very short and the
        results are immediately available. 

        Otherwise, if the query has started and is in-progress, the server will
        return a `202` response code and the 

        response body will contain a status endpoint link
        (`/search/status/<status id>`) which should be polled periodically.

        When polled, the server will continue to respond with a `202` response
        code if the query is still in-progress, or it

        will respond with a `201` response code if the query has completed.

        The link must be polled at least once every 1 minute, otherwise the
        query will be cancelled. 

        Once a query is completed the results can be retrieved using the status
        endpoint for at least 5 minutes,

        and up to 7 days (if the query results have expired the server will
        respond with a `410` response code).
      operationId: getSearchStatus
      responses:
        '200':
          description: In progress query.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: >
                      The current status of the query. Possible value:

                      * `COMPLETED` - the query finished successfully.

                      * `IN_PROGRESS` - the query is still running.

                      * `CANCELLED_BY_USER` - the query was stopped as a result
                      of a `DELETE` request being issued.

                      * `TIMED_OUT` - the query was stopped as it was not polled
                      in time (as indicated by the `Retry-After`
                        header in the response for the initial search request, or last poll).
                      * `INTERNAL_SERVER_ERROR` - the query failed due to
                      internal server error.
                    example: IN_PROGRESS
                  progress:
                    type: integer
                    description: >-
                      A value between 0 and 100 indicating how much of the
                      processing has finished.
                    example: 56
                  start_time:
                    type: string
                    description: >-
                      The time the query was started at, in human readable
                      format.
                    example: Tue Aug 06 15:24:15 GMT 2024
                  explain:
                    $ref: '#/components/schemas/QueryExplain'
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/QueryResult'
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
                  groups_series:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupSeriesItem'
                  metadata:
                    $ref: '#/components/schemas/QueryMetadata'
                  totals:
                    type: object
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  links:
                    $ref: '#/components/schemas/SearchInProgressLinks'
        '201':
          description: Completed query results.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: >
                      The current status of the query. Possible value:

                      * `COMPLETED` - the query finished successfully.

                      * `IN_PROGRESS` - the query is still running.

                      * `CANCELLED_BY_USER` - the query was stopped as a result
                      of a `DELETE` request being issued.

                      * `TIMED_OUT` - the query was stopped as it was not polled
                      in time (as indicated by the `Retry-After`
                        header in the response for the initial search request, or last poll).
                      * `INTERNAL_SERVER_ERROR` - the query failed due to
                      internal server error.
                    example: COMPLETED
                  progress:
                    type: integer
                    description: >-
                      A value between 0 and 100 indicating how much of the
                      processing has finished.
                    example: 100
                  start_time:
                    type: string
                    description: >-
                      The time the query was started at, in human readable
                      format.
                    example: Tue Aug 06 15:24:15 GMT 2024
                  explain:
                    $ref: '#/components/schemas/QueryExplain'
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/QueryResult'
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
                  groups_series:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupSeriesItem'
                  metadata:
                    $ref: '#/components/schemas/QueryMetadata'
                  totals:
                    type: object
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  links:
                    $ref: '#/components/schemas/SearchCompletedLinksAsyncEnabled'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The status with given ID does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '410':
          description: This resources no longer exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - search
      summary: Cancel an in-progress query
      description: >
        Cancel a currently in-progress query & stop related processing. A
        cancelled query will not count towards

        search usage.
      operationId: deleteSearchStatus
      responses:
        '200':
          description: In-progress query deleted successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The status with given ID does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '410':
          description: This resources no longer exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-internal: true
    parameters:
      - name: statusId
        in: path
        description: The status id for the query.
        required: true
        schema:
          minItems: 1
          type: string
        example: 92481b0a-d969-4ccd-b18d-00bc95694fe2
  /context:
    get:
      tags:
        - context
      summary: Retrieve contextual information for a given sequence and log
      operationId: getContext
      parameters:
        - name: from
          in: query
          description: >
            The ids of the logs to search.

            One of either the `from` or the `from_tags` parameters _must_ be
            specified.
          schema:
            minItems: 1
            uniqueItems: true
            type: string
          example:
            - 550e8400-e29b-41d4-a716-446655440000
            - 297bb888-83b1-44e0-8ab6-47879f1275a2
        - name: from_tags
          in: query
          description: >
            The tags to search. Each tag should be in the form `<key>:<value>`,
            e.g., `environment:production`.

            One of either the `from` or the `from_tags` parameters _must_ be
            specified. 

            If _both_ are specified then `from_tags` takes precedence, and the
            `from` value is ignored.

            If the key or the value contain a `:` or `=` character, then these
            can be escaped by wrapping the entire key or value in double-quotes
            `"`.
          schema:
            minItems: 1
            uniqueItems: true
            type: string
          example: environment:production
        - name: timestamp
          in: query
          description: The timestamp for the event for which context is being retrieved
          required: true
          schema:
            type: integer
          example: 1709251200000
        - name: limit
          in: query
          description: >-
            The maximum number of events that an event search should return. In
            a query with a group by, it limits the number of groups returned. It
            does not affect a statistical search using aggregate functions.
          schema:
            maximum: 6666
            minimum: 1
            type: integer
            default: 100
          example: 50
        - name: from_sequence
          in: query
          description: >-
            The starting sequence for which to query data. This is more granular
            than a timestamp but also requires a `from_ts` param.
          schema:
            type: integer
          example: 111721913
        - name: direction
          in: query
          description: Enum to indicate if results before or after should be retrieved.
          required: false
          schema:
            type: string
            enum:
              - both
              - after
              - before
          example: both
        - name: explain_only
          in: query
          description: >-
            If set to `true` then only the `explain` element of the response
            will be populated. The `explain` element will contain the
            `Approximate bytes in time range` attribute which provides an
            estimate for the amount of data present in the time range for the
            selected datasets. This parameter is set to `false` by default.
          required: false
          schema:
            type: boolean
          example: true
      responses:
        '200':
          description: Search results
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  explain:
                    $ref: '#/components/schemas/QueryExplain'
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/QueryResult'
                  links:
                    $ref: '#/components/schemas/ContextLinks'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs:
    get:
      tags:
        - logs
      summary: Retrieve a list of logs
      operationId: listLogs
      responses:
        '200':
          description: A list of log entries
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Log'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - logs
      summary: Create a new log
      operationId: createLog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLogRequest'
        required: true
      responses:
        '201':
          description: Log created successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/{logId}:
    get:
      tags:
        - logs
      summary: Get a single log by ID
      operationId: getLogById
      parameters:
        - name: logId
          in: path
          description: The unique identifier of the log to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Log details retrieved successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
        '404':
          description: Not Found - The logId in the request is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - logs
      summary: Update a log by ID
      operationId: updateLog
      parameters:
        - name: logId
          in: path
          description: The unique identifier of the log to update
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLogRequest'
        required: true
      responses:
        '200':
          description: Log updated successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
        '400':
          description: Bad Request - The body in the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The log is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-internal: true
    delete:
      tags:
        - logs
      summary: Delete a log by ID
      operationId: deleteLog
      parameters:
        - name: logId
          in: path
          description: The unique identifier of the log to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Log updated successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '204':
          description: Log deleted successfully
        '404':
          description: Not Found - The log is not found, please check log id in request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/{logId}/metrics:
    get:
      tags:
        - metrics
      summary: Get metric details for a log
      operationId: getMetricsForLog
      parameters:
        - name: logId
          in: path
          description: The unique identifier of the log
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Metric associated with the given log
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricItem'
        '404':
          description: Metric not found for the log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/{logId}/monitors:
    get:
      tags:
        - monitors
      summary: List monitors associated with a log
      operationId: listMonitorsForLog
      parameters:
        - name: logId
          in: path
          description: The unique identifier of the log
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of monitors for the given log
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Monitor'
        '404':
          description: Log not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/{logId}/dashboards:
    get:
      tags:
        - dashboards
      summary: List dashboards associated with a log
      operationId: listDashboardsForLog
      parameters:
        - name: logId
          in: path
          description: The unique identifier of the log
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of dashboards for the given log
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dashboard'
        '404':
          description: Log not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logsets:
    get:
      tags:
        - logsets
      summary: Retrieve a list of logsets
      operationId: listLogSets
      responses:
        '200':
          description: A list of logsets
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/LogsetLog'
                  x-additionalPropertiesName: logset
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      x-internal: true
  /organizations/:
    get:
      tags:
        - organizations
      summary: List all Organizations
      operationId: listOrgs
      responses:
        '200':
          description: List of organizations
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - organizations
      summary: Create a new Organization
      operationId: createOrg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrgRequest'
        required: true
      responses:
        '201':
          description: Organization created successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          description: Bad Request - Required fields are missing or malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - An organization with the same ID already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-internal: true
  /organizations/{orgId}:
    get:
      tags:
        - organizations
      summary: Retrieve an organization by its id
      operationId: getOrgById
      parameters:
        - name: orgId
          in: path
          description: The unique identifier of the organization to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Organization retrieved successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          description: Not Found - The organization is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-internal: true
    patch:
      tags:
        - organizations
      summary: Update an Organization
      operationId: updateOrg
      parameters:
        - name: orgId
          in: path
          description: The unique identifier of the organization to update
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrgRequest'
        required: true
      responses:
        '200':
          description: Organization updated successfully
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '403':
          description: >-
            Forbidden - The user does not have the privileges to update the
            organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - The organization is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-internal: true
  /organizations/{orgId}/access/{entityType}/{entityId}:
    post:
      tags:
        - Org Access
      summary: Grant access to a user or group
      operationId: grantAccess
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: entityType
          in: path
          required: true
          schema:
            type: string
            enum:
              - user
              - group
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - roles
                - status
              type: object
              properties:
                roles:
                  type: array
                  description: >
                    List of role IDs to assign. Can be UUIDs (custom roles) or
                    system role IDs like "Admin", "Standard", "ReadOnly",
                    "SearchApi", "IngestionApi", "AdminApi".
                  items:
                    pattern: >-
                      ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}|Admin|Standard|ReadOnly|SearchApi|IngestionApi|AdminApi)$
                    type: string
                status:
                  type: string
                  description: Status of the access grant.
                  enum:
                    - active
                    - invited
        required: true
      responses:
        '204':
          description: Access granted
        '400':
          description: Invalid request
        '500':
          description: Internal server error
    delete:
      tags:
        - Org Access
      summary: Revoke access from a user or group
      operationId: revokeAccess
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: entityType
          in: path
          required: true
          schema:
            type: string
            enum:
              - user
              - group
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Access revoked
        '400':
          description: Invalid request
        '500':
          description: Internal server error
  /organizations/{orgId}/access:
    get:
      tags:
        - users
      summary: List all members who have access to this organization
      operationId: listOrgMembers
      parameters:
        - name: orgId
          in: path
          description: The unique identifier of the organization
          required: true
          schema:
            type: string
            format: uuid
          example: dcb12f8e-41b4-4f12-a0f4-8911e1f3a5ac
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgAccessList'
        '403':
          description: Forbidden - The user does not have access to this organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Request - Fair usage limits exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An error occurred on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /organizations/{orgId}/access/{entityType}/{entityId}/check:
    get:
      tags:
        - Access
      summary: Check if user or group has access to org
      operationId: listAccessForMember
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: entityType
          in: path
          required: true
          schema:
            type: string
            enum:
              - user
              - group
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
[...]
